{% extends "layouts/base.twig" %}

{% block content_header %}
    <h1>
        Produtos
        <small>Edição de nova ordem de serviço</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Início </a></li>
        <li><a href="/produtos">Ordens de Serviços</a></li>
        <li class="active">Editar</li>
    </ol>
{% endblock %}

{% block content %}

    {# Mensagens de feedback para o ordem de serviço #}
    {% if session.flashdata('msg_erro') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alerta!</h4>
            {{ session.flashdata('msg_erro') }}

            <ul>
                {% for erro in session.flashdata('erros') %}
                    <li>{{ erro }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulário de edição de Ordens de Serviços</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/ordens-de-servicos/{{ ordem.id }}" method="POST">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">Status</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="status" name="status" >
                                    <option value="Aguardando Atendimento" {% if ordem.status == 'Aguardando Atendimento' %} selected {% endif %}>Aguardando Atendimento</option>
                                    <option value="Orçamento Aprovado" {% if ordem.status == 'Orçamento Aprovado' %} selected {% endif %}>Orçamento Aprovado</option>
                                    <option value="Orçamento Reprovado" {% if ordem.status == 'Orçamento Reprovado' %} selected {% endif %}>Orçamento Reprovado</option>
                                    <option value="Equipamento em Análise" {% if ordem.status == 'Equipamento em Análise' %} selected {% endif %}>Equipamento em Análise</option>
                                    <option value="Aguardando Retirada" {% if ordem.status == 'Aguardando Retirada' %} selected {% endif %}>Aguardando Retirada</option>
                                    <option value="OS Finalizada" {% if ordem.status == 'OS Finalizada' %} selected {% endif %}>OS Finalizada</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="laudoTecnico" class="col-sm-2 control-label">Laudo técnico</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="laudoTecnico" name="laudoTecnico" placeholder="" >{{ ordem.laudoTecnico}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rarantia" class="col-sm-2 control-label">Garantia</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="garantia" name="garantia" placeholder="" >{{ ordem.garantia}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="valorServico" class="col-sm-2 control-label">Valor do Serviço</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="valorServico" placeholder="" name="valorServico" value="{{ ordem.valorServico }}" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="valorPecas" class="col-sm-2 control-label">Valor das Peças usadas</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="valorTotal" placeholder="" value="{{ ordem.valorPecas }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="valorTotal" class="col-sm-2 control-label">Valor Total ( Peças + Serviço)</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="valorTotal" placeholder="" value="{{ ordem.valorTotal }}" readonly>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-offset-2">
                            <button type="button"
                                    class="btn btn-danger"
                                    onclick="window.location.href='/ordens-de-servicos'">
                                <i class="fa fa-fw fa-arrow-left">&nbsp;</i>
                                Voltar
                            </button>
                            <a role="button" class="btn btn-warning"
                                href="/ordens-de-servicos/{{ ordem.id }}/produtos/adicionar">
                                <i class="fa fa-fw fa-plus"></i>
                                Produtos
                            </a>
                            <button type="submit" class="btn btn-success">Editar</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('select').select2();
        $('#valorServico').mask("#.##0,00", {reverse: true});
    </script>
{% endblock %}