{% extends "layouts/base.twig" %}

{% block content_header %}
    <h1>
        Produtos
        <small>Edição de nova ordem de serviço</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Início </a></li>
        <li><a href="/produtos">Ordens de Serviços</a></li>
        <li class="active">Editar</li>
    </ol>
{% endblock %}

{% block content %}

    {# Mensagens de feedback para o ordem de serviço #}
    {% if session.flashdata('msg_erro') %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Alerta!</h4>
            {{ session.flashdata('msg_erro') }}

            <ul>
                {% for erro in session.flashdata('erros') %}
                    <li>{{ erro }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Formulário de edição de Ordens de Serviços</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/ordens-de-servicos/{{ ordem.id }}" method="POST">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">Status</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="status" name="status" >
                                    <option value="Orçamento" {% if ordem.status == 'Orçamento' %} selected {% endif %}>Orçamento</option>
                                    <option value="Em andamento" {% if ordem.status == 'Em andamento' %} selected {% endif %}>Em andamento</option>
                                    <option value="Aberto" {% if ordem.status == 'Aberto' %} selected {% endif %}>Aberto</option>
                                    <option value="Finalizado" {% if ordem.status == 'Finalizado' %} selected {% endif %}>Finalizado</option>
                                    <option value="Cancelado" {% if ordem.status == 'Cancelado' %} selected {% endif %}>Cancelado</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cliente" class="col-sm-2 control-label">Cliente</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="cliente" name="cliente" >
                                    {% for cliente in clientes %}
                                        <option value="{{ cliente.id }}" {% if ordem.cliente.id == cliente.id %} selected {% endif %}>{{ cliente.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tecnico" class="col-sm-2 control-label">Técnico Responsável</label>

                            <div class="col-sm-5">
                                <select class="form-control" id="tecnico" name="tecnico" >
                                    {% for tecnico in tecnicos %}
                                        <option value="{{ tecnico.id }}" {% if ordem.tecnico.id == tecnico.id %} selected {% endif %}>{{ tecnico.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descricao" class="col-sm-2 control-label">Descrição do produto</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="descricao" name="descricao" placeholder="">{{ ordem.descricao }}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="defeito" class="col-sm-2 control-label">Defeito apresentado</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="defeito" name="defeito" placeholder="" >{{ ordem.defeito }}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="laudoTecnico" class="col-sm-2 control-label">Laudo técnico</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="laudoTecnico" name="laudoTecnico" placeholder="" >{{ ordem.laudoTecnico}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="rarantia" class="col-sm-2 control-label">Garantia</label>

                            <div class="col-sm-5">
                                <textarea class="form-control" id="garantia" name="garantia" placeholder="" >{{ ordem.garantia}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dataInicial" class="col-sm-2 control-label">Data de ínicio</label>

                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="dataInicial" name="dataInicial" placeholder="" value="{{ ordem.dataInicial.format('Y-m-d') }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dataFinal" class="col-sm-2 control-label">Data de final</label>

                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="dataFinal" name="dataFinal" placeholder="" value="{{ ordem.dataFinal.format('Y-m-d') }}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="valorTotal" class="col-sm-2 control-label">Valor Total do Serviço</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="valorTotal" name="valorTotal" placeholder="" value="{{ ordem.valorTotal }}">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-offset-2">
                            <button type="button"
                                    class="btn btn-danger"
                                    onclick="window.location.href='/ordens-de-servicos'">
                                <i class="fa fa-fw fa-arrow-left">&nbsp;</i>
                                Voltar
                            </button>
                            <button type="submit" class="btn btn-success">Editar</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}