{% extends "layouts/base.twig"  %}

{% block content_header %}
    <h1>
        Dashboard
        <small>Listagem geral</small>
    </h1>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ os }}</h3>

                    <p>Ordens de Serviços</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/ordens-de-servicos" class="small-box-footer">acessar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ produtos }}</sup></h3>

                    <p>Produtos diferentes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="/produtos" class="small-box-footer">acessar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ usuarios }}</h3>

                    <p>Usuarios</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="/usuarios" class="small-box-footer">acessar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ clientes }}</h3>

                    <p>Clientes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="/clientes" class="small-box-footer">acessar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ordens de Serviços</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {

                            var data = google.visualization.arrayToDataTable([
                                ['Task', 'Hours per Day'],
                                ['Aguardando Atendimento', {{ agdAtendimento }}],
                                ['Orçamento Aprovado', {{ ocmtAprovado }}],
                                ['Orçamento Reprovado',  {{ ocmtReprovado }}],
                                ['Equipamento em Análise', {{ eqpmtAnalise }}],
                                ['Aguardando Retirada', {{ agdRetirada }}],
                                ['OS Finalizada', {{ osFinalizada }}],
                            ]);

                            var options = {
                                title: 'Grafico por Status'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                            chart.draw(data, options);
                        }
                    </script>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="piechart"></div>
                        </div>
                    </div>
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"> Aguardando Atendimento </h3>
                </div>
                <div class="box-body">
                    <table id="tabela-ordens-de-servicos" class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Cliente</th>
                            <th>Técnico Responsável</th>
                            <th>Criado em</th>
                            <th>Atualizado</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for os in ordens %}
                            <tr>
                                <td>{{ os.id }}</td>
                                <td>{{ os.status }}</td>
                                <td>{{ os.cliente.nome }}</td>
                                <td>{{ os.tecnico.nome }}</td>
                                <td>{{ os.criadoEm.format('d/m/Y H:i:s') }}</td>
                                <td>{{ os.atualizadoEm.format('d/m/Y H:i:s') }}</td>
                                <td><b>{% if os.valorTotal > 0 %} R$ {{ os.valorTotal }} {% else %} R$ 0.0 {% endif %}</b></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}